*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif ;
    text-decoration: none;
    font-weight: 500;
    box-sizing: border-box;
}

body{
    background-color: #e8ecee;
   
    
}

.nav{
    margin: 0;
    height: 62px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 0px 10px;
    box-shadow:  1px 1px 1px 2px#8f8c8c1e;
    
}
.nav-left{
    display: flex;
    align-items: center;
   
}

.search{
    display:flex;
    align-items: center;
    background-color:  rgba(216, 216, 216, 0.5);
    padding: 6.8px;
    border-radius: 990px;
    
}
.search input{
    border:none;
    background-color:transparent;
    outline-width: 0;
    font-size: 1rem;
}
.nav-middle{
    display: flex;
    flex: 1;
    justify-content: center;
}
.nav-middle img{
    width: 61px;
    padding: 11px 45px;
    margin:0 7px;
}
.nav-middle img:hover{
    background-color: rgba(216, 216, 216, 0.5);
    border-radius: 9px;
   
    
}
.nav-right{
    display: flex;
    align-items: center;
    margin-left: 5px;
}
.avatar{
    display: flex;
    align-items: center;
    border-radius: 600px;
    padding: 1px;
    margin-right: 12px;
    
}
.avatar .img-avatar{
    width: 41px;
    border-radius: 100px;
    margin-right:5px;

}
.avatar h1{
    font-size: 18px;
}
.avatar:hover{
   background-color: rgba(216, 216, 216, 0.5);

}
.logo-right{
    display: flex;
    align-items: center;
}
.img-logo-right{
     display: flex;
     margin: 0px 4px;
     align-items: center;
     padding: 8px;
     background-color: rgba(216, 216, 216, 0.5);
     border-radius: 50px;
}

/*    BODY INCEPUT FACEBOOK  -body left */

.body-principal-facebook{
    display: flex;
    justify-content: space-between;
    padding: 13px 1%;
    
   
}
.principal-left{
    flex-basis: 25%;
    
    height: 700px;
}

.icons-left-facebook {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    
}
.icons-left-facebook:hover{
    background-color:rgba(216, 216, 216, 0.5);
    
}
.first-photo-left{
    border-radius: 50%;
}
.icons-left-facebook img{
    width: 31.5px;
    height: 31.5px;
    margin-right: 10px;
}
.icons-left-facebook h5{
    font-size: 16px;
}
.button-see-more{
    background-color: rgba(216, 216, 216, 0.5);
    border-radius:50px ;
}


/*battom-section-left*/

.battom-section-left{
    border-top: 1px solid rgb(190, 188, 188);
    margin-top: 10px;
    margin-left: 5px;

}
.battom-section-left .class-h5{
    font-size: 20px;
    margin-top:20px ;
}

.battom-section-left img{
    width: 30px;
    height: 30px;
    border-radius: 7px;
    margin-right: 10px;
}
.your-shortcut{
    display: flex;
    align-items: center;
    padding: 10px ;
    border-radius: 15px;
   
    
}
.your-shortcut h5{
    font-size: 16px;
}
.your-shortcut:hover{
    background-color:rgba(216, 216, 216, 0.5);
}
.text-battom-left, .text-battom-left-2{
    display: flex;
    text-decoration: none;
    font-size: 13.5px;
    color: rgb(93, 97, 104);
}
.text-battom-left p, .text-battom-left-2 p{
    margin:0 3px
}
.container-text-battom{
    margin-bottom: 100px;
}
/*------------section------ BODY SFARSIT FACEBOOK -body left  */

/* ------inceput feed-----*/

.container-feed{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 50px;
    flex: basis 45%;
}
.container-story{
    display: flex;
    justify-content: center;
    overflow: hidden;
    
}

.story {
    position: relative;
    min-width: 130px;
    height: 200px;
    margin: 10px;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
}
.align-story{
    width: 100%;
    
}
.story p{
    position: absolute;
    color: white;
    margin-top: 160px ;
    margin-left: 20px;
    font-weight: 500;
}

.story img{
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 50px;
    margin:10px;
    border: solid rgb(60, 60, 224);
}


.first-photo-left{
    width: 45px;
    height: 45px;
}
.sub-story{
    background-color: white;
    width: 700px;
    margin: 0 auto;
    margin-top: 15px;
    border-radius: 10px;
    
}
.your-mind{
     padding: 10px 7px;
     display: flex;
     width: 100%;
}
.your-mind img{
    margin-right: 10px;
}
.your-mind input{
    width: 100%;
    position: relative;
    border: none;
    outline-width: 0;
    padding: 15px; 
    border-radius: 999px;
    background-color:rgba(216, 216, 216, 0.5);
    font-size: 1rem;
    
}
.sub-story-bottom{
    border-top: rgba(117, 112, 112, 0.295) 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sub-story-logo-bottom img{
    width: 30px;
    height:30px;
    margin: 0.1rem;
}
.sub-story-logo-bottom{
    display: flex;
    align-items: center;
    margin:20px 27px
}
.sub-story-logo-bottom h3{
    font-size: 1rem;
}
.create-room{
    align-items: center;
    display: flex;
    margin: 0 auto;
    width: 700px;
    background-color:white;
    margin-top: 18px;
    border-radius: 10px;
    overflow: hidden;
}

.camera img{
    width: 30px;
    height:30px;
    margin-right: 7px;
}

.room{
    display: flex;
    
}
.camera{
    display: flex;
    align-items: center;
    padding: 15px 25px;
    margin: 10px 0;
}

.img_profil_online{
    overflow: hidden;
    display: flex;
    width: 100%;
    align-items: center;
   
    
}

.img_profil_online img{
    width:45px;
    height: 45px;
    border-radius: 50px;
    margin: 0 2px;
}


.button_slide {
     display: flex;
     justify-content: space-between;
    
     
}
 .button_slide button {
    
     border-radius: 50px;
     border: 0;
     font-weight: bold;
     cursor: pointer;
     width: 20px;
     height: 20px;
}



.flux-posts{
    height: 100%;
    width: 700px;
    padding: 15px 0;
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
}

.first-post-in-flux{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10%;
}
.posts-maries-ioana img {
    width:50px;
    height: 50px;
    border-radius: 55%;
    border: 3px solid rgb(64, 64, 235);
    margin: 10px 16px;
}
.text-first-post span{
    color: rgb(133, 131, 131);
    

}
 .text-descriere{
    margin: 0px 20px;
    margin-top: 15px;
    
}

.descriere-post .hashtag{
    margin: 0 20px;
    color: rgb(44, 161, 207);
}
.poza-fundal-flux{
    width: 100%;
    display: flex;
    justify-content: center;
}
 .poza-fundal-flux img{
    position: relative;
    top: 20px;
    height: 100%;
    width: 94%;
    
}
/*-----sfarsit-feed----*/

/*------- container-right facebook---------*/
.container-right-facebook{
    flex-basis: 25%;
    top: 70px;
    padding-right:10px;
    padding-left: 10px;
    
}
.container-right-facebook .sponsored-h5{
    font-size: 19.5px;
    color: rgb(124, 122, 120);
    font-weight: 550;
}
.container-clame{
    display: flex;
    align-items: center;
    
}
.clame1 img{
    width: 100px;
    height: 100px;
    margin-top: 20px;

}
.text-clame1{
    margin-left: 10px;

}
.text-clame1 h4{
    font-weight: 600;
}
.text-clame1 h5{
    color:  rgb(116, 113, 110);
}
.contacts{
    border-top:1px solid rgb(190, 188, 188);
    margin-top: 30px;
}
.persone-contact{
   margin-top: 20px;
}
.contacte-live{
    display: flex;
    align-items: center;
    margin-top: 23px;
}
.contacte-live img{
    width: 35px;
    height: 35px;
    border-radius: 50px;
}
.contacte-live h4{
    margin-left: 10px;
}

@media(max-width: 280px){
     .nav-middle img{
        margin:0;
       
    }
}


@media(max-width:345px){
    .sub-story-logo-bottom h3{
        display: none;
       
    }
    .sub-story-bottom{
        justify-content: space-evenly;
        height: 50px;
    }
    .nav-middle img{
        width:55px;
    }
    nav.nav{
        padding: 0;
    }
    .your-mind input{
        height: 43px;
    }
}

@media (max-width:574px){
    .no-img-mobile {
        display: none;
    }
    .nav-left{
        display: none;
    }
}

@media (max-width: 885px) {
    .principal-left{
        display: none;
    }
   
   .nav-right{
       display: none;
   }
   .avatar{
       display: none;
   }
   .container-right-facebook{
       display: none;
   }
   .container-feed{
       width:100%;
       padding: 0 ;
       margin: 0 auto;
   }
  .sub-story{
      width:100%;
  }
   .create-room{
       width: 100%;
   }
   .flux-posts{
       width: 100%;
   }
   
}
@media (max-width: 1100px) {
    
    .container-right-facebook{
        display: none;
    }
}
@media (max-width:1257px) {
     .nav-middle img{
         padding: 11px 15px;

     }
     .nav-middle {
         margin: 0;
     }
     .search input{
        display: none;
    }
    
}
