body{
    margin: 0;
    padding: 0;
}
.cards{
   margin: 20px 5%;
   
}


.items_cards{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    
    
}
.img_in_cards{
    width: 80px;
    height: 180px;   
   
}

.container_img{
    margin: 10px 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;

    
    
}
.container_cards_items{
    width: 180px;
    margin-top: 30px;
    padding: 20px 20px;
    border: solid 1px rgba(133, 122, 122, 0.466);
    border-radius: 10px ;
}
.container_cards_items:hover{
    box-shadow: 0px 0px 10px 10px rgba(153, 44, 44, 0.123);
}


.cards_text{
    color: black;
    font-size: 12px ;

}
.text_stoc{
    font-size: 14px;
    color:rgb(0, 207, 0)  ;
    
}

.text_pret{
    color: rgb(105, 128, 255);
}

@media (max-width:579px){
    .img_in_cards{
        width: 70px;
        height: 150px;   
    }

}
@media (max-width:520px){
    .items_cards{
       
    }

}
@media (max-width:688px){
    .container_cards_items{
        width: 140px;
        padding: 0px 20px;

    }
    .cards{
        margin:0;
    }

}

@media (max-width:1440px){
    .produse{
        margin: 20px 10px;
    }
    
}

